<div class="row">
    <div class="page-header">
        <h1>Show Book</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">

        <div class="well">
            <div class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputIsbn" class="col-lg-2 control-label">ISBN</label>

                        <div class="col-lg-7">
                            <input id="inputIsbn" name="inputIsbn" type="text" class="form-control" placeholder="ISBN"
                                   ng-model="book.isbn">
                        </div>

                        <div class="col-lg-3">
                            <button type="button" id="isbnLookupLink"  class="btn btn-default form-control" ng-click="lookUpByIsbn(book.isbn)" ng-disabled="!book.isbn">
                                Lookup
                                <span class="glyphicon glyphicon-ok-sign" ng-show="temp.found"></span>
                                <span class="glyphicon glyphicon-remove-sign" ng-show="temp.found===false"></span>
                            </button>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputTitle" class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-10">
                            <input id="inputTitle" name="inputTitle" type="text" class="form-control"  placeholder="Title"
                                   ng-model="book.title" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAuthor" class="col-lg-2 control-label">Author</label>

                        <div class="col-lg-10">
                            <input id="inputAuthor" name="inputAuthor"  type="text" class="form-control"  placeholder="Author"
                                   ng-model="book.author" required/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputCopies" class="col-lg-2 control-label">Copies</label>

                        <div class="col-lg-10">
                            <input id="inputCopies" name="inputCopies" type="number" class="form-control"  placeholder="Copies"
                                   ng-model="book.availableCopies" required min="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a id="addBookCancel"class="btn btn-default" href="#/books">Cancel</a>
                            <button id="addBookSubmit" type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
